/* font-family: Inter, sans-serif;*/
body{
margin: 0;
padding: 0;
}
.bg{
	height: 100vh;
	background-image: url(../images/library.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	padding: 0;
	/*background-color: rgba(128, 128, 128, 0.4);*/
#know{
	font-size: 2vw;
	font-weight: bold;
	color: black;
}

.tp div{
	font-family: Inter, sans-serif;
	font-size: 1.5vw;
	color:white;
	float: left;
	box-sizing: border-box;
	padding: 2vw;
	
}
a{
	color:white;
	text-decoration: none;
	font-weight: bold;
}
.bel{
	font-family: Inter, sans-serif;
	font-size: 6.3vw;
	color:black;
	width: 1.8vw;
	padding-top: 13.5vw;
	padding-left: 10vw;
}

.button-3d {
  font-family: Inter, sans-serif;
  font-size: 1.9vw;
  margin-left: 10vw;
  width: 4.3vw;
  height: 3.2vh;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f0355a;
  background: #f0355a;
  text-align:center;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #ad102f;
  -moz-box-shadow: 0px 6px 0px #ad102f;
  box-shadow: 0px 6px 0px #ad102f;
}
.button-3d:active{
  -webkit-box-shadow: 0px 2px 0px #ad102f;
  -moz-box-shadow: 0px 2px 0px #ad102f;
  box-shadow: 0px 2px 0px #ad102f;
}

